.vscode
*.pdb
*.os
src/*.obj
.sconsign.dblite
project/addons/godot-steam-audio/bin/*.so*
project/addons/godot-steam-audio/bin/*.dll
project/addons/godot-steam-audio/bin/*.ilk
project/addons/godot-steam-audio/bin/*.exp
project/addons/godot-steam-audio/bin/*.lib
project/addons/godot-steam-audio/bin/*.dylib
project/addons/godot-steam-audio/bin/android/arm64/libphonon.so
project/addons/godot-steam-audio/bin/android/x86_64/libphonon.so
src/gen/*
