.vscode
*.pdb
*.os
src/*.obj
.sconsign.dblite
project/addons/godot-steam-audio/bin/*.so*
project/addons/godot-steam-audio/bin/*.dll
project/addons/godot-steam-audio/bin/*.ilk
project/addons/godot-steam-audio/bin/*.exp
project/addons/godot-steam-audio/bin/*.lib
project/addons/godot-steam-audio/bin/*.dylib
src/gen/*
