name: build-release
run-name: Build release
on: [push]

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set short git commit SHA
        id: vars
        run: |
          echo "COMMIT_SHORT_SHA=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV
      - uses: actions/setup-python@v5
      - name: install-deps
        run: |
          # install scons
          PIP_BREAK_SYSTEM_PACKAGES=1 python -m pip install scons==4.4.0
          scons --version
          # install windows deps
          sudo apt-get install mingw-w64
          sudo update-alternatives --set x86_64-w64-mingw32-gcc /usr/bin/x86_64-w64-mingw32-gcc-posix
          sudo update-alternatives --set x86_64-w64-mingw32-g++ /usr/bin/x86_64-w64-mingw32-g++-posix
          # download steamaudio 
          curl -LO https://github.com/ValveSoftware/steam-audio/releases/download/v4.5.3/steamaudio_4.5.3.zip
          unzip steamaudio_4.5.3.zip 'steamaudio/lib/**/*' -d src/lib
          cp src/lib/steamaudio/lib/linux-x64/* project/addons/godot-steam-audio/bin/
          cp src/lib/steamaudio/lib/windows-x64/* project/addons/godot-steam-audio/bin/
      - name: build-ext
        run: |
          make release 
      - uses: actions/upload-artifact@v4
        with:
          name: godot-steam-audio-${{ env.COMMIT_SHORT_SHA }}
          path: ${{ github.workspace }}/godot-steam-audio/
      - uses: actions/upload-artifact@v4
        with:
          name: godot-steam-audio-demo-${{ env.COMMIT_SHORT_SHA }}
          path: ${{ github.workspace }}/godot-steam-audio-demo/
